/*中间榜单*/
    .centerlist_box{
        width:100%;
        height: 100%;
     }
    .centerlist{
    	width: 972px;
    	margin: 0 auto;
        height: 2112px;
    	margin-top: 40px;
    	position: relative;
        padding-bottom: 36px;
    }
    .centerlist .centerlist_left{
    	width: 180px;
    	height: 1120px;
    	position: absolute;
    	border:1px solid #ccc;
    }
    .centerlist .centerlist_left .list_center{
    	margin: 20px 0 0 20px;
    }
    .centerlist .centerlist_left .list_center ol {
    	padding-bottom: 20px;
        position: absolute;
    }
    .centerlist .centerlist_left .list_center ol li{
    	font-size: 18px;
    	color: #333;
    }
    .centerlist .centerlist_left .list_center ul li{
    	display: block;
        position: absolute;
    }
    .centerlist .centerlist_left .list_center ul li a{
    	font-size: 14px;
    	color: #333;
    }
    .centerlist .centerlist_left .list_center ul li a img{
    	vertical-align: middle;
    }
    .centerlist .centerlist_left .list_center ul li a span{
    	padding-left: 15px;
    }
    .centerlist .centerlist_right{
    	width: 760px;
    	position: absolute;
    	left: 210px;
    }
    .centerlist .centerlist_right .list_four{
    	padding-top: 50px;
    	padding-bottom: 30px;
    }
    .centerlist .centerlist_right .list_four ul {
    	overflow: hidden;
    }
    .centerlist .centerlist_right .list_four ul li{
    	float: left;
    	margin-right: 10px;
    	position: relative;
    	cursor: pointer;
    }
    .updatePlay{
    	color: #333;
    	font-size: 12px;
    	position: relative;
    	height: 16px;
    	width: 100%;
    	margin-bottom: 6px;
    }
    .updatePlay #updateTime{
    	position: absolute;
    }
    .updatePlay .play{
    	position: absolute;
    	right: 0;
    }
/*下部分音乐列表*/
    .headMessage{
    	width: 100%;
    	height: 40px;
    	background-color: #f5f5f5;
    	color: #333;
    	line-height: 40px;
    	position: relative;
    }
    .headSmall0{
        position: absolute;
        left: 60px;
    }
    .headSmall1{
        position: absolute;
        left: 132px;
    }
    .headSmall2{
        position: absolute;
        left: 556px;
    }
    .headSmall3{
        position: absolute;
        left: 702px;
    }
    .musicbox_deep{
    	width: 100%;
    	background-color: #f5f5f5;
    	position: relative;
    	height: 40px;
    	line-height: 40px;
        font-size: 14px;
    }
    .musicbox_white{
    	width: 100%;
    	background-color: white;
    	position: relative;
    	height: 40px;
    	line-height: 40px;
        font-size: 14px;
        
    }
    .musicNumber{
    	color: #333;
    	position: relative;
    	left: 22px;
    }
    .musicState{
    	color: gold;
    	position: absolute;
    	left:60px;
    }
    .musicImage{
    	position: absolute;
    	left: 132px;
    	top: 15px;
    	cursor: pointer;
    }
    .musicName{
    	position: absolute;
    	left: 132px;
    	color: #333;
    	cursor: pointer;
    	
    }
    .musicExplain{
    	font-size: 12px;
    	color: #666;
    }
    .musicSinger{
    	position: absolute;
    	left: 556px;
    }
    .musicTime{
    	position: absolute;
    	left: 702px;
    }
    .playAddBox{
        position: absolute;
        left: 362px;
        top: 5px;
        z-index: 10;
        display: none;
    }
    .playAddBox img{
        padding-right: 22px;
        cursor: pointer;
    }
    .playAddBox img:nth-child(4){
        padding-right: 0;
    }
